.Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 16px, 40px, 16px, 40px;
    width: 100%;
    background-color: #F4F4F4;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.arrow-lef{
    display: none;
}

.Inputs__Header__container {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Header__Logo {

    width: 110px;


}

.Header__Logo img {
    width: 100%;
    padding: 5px;
    margin-left: 20px;



}

.Inputs__Header {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 30px;
    border-radius: 8px;
    justify-content: space-between;


}

.Inputs__Header__ContainerInputs {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 30px;
    align-items: center;

}

.Inputs__Header__option {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 8px;

}

.Inputs__Header__option label {
    color: #ED3237;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400px;
}

.Inputs__Header__option select {
    max-width: 186px;
    margin-top: 4px;
    height: 15px;
    color: #656363;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    border: none;


}

.Inputs__Header__search {
    width: 319px;
    border-radius: 5px;
    border: 1px solid #ED3237;
    outline: none;
    padding: 8px;
    margin-right: 40px;

}

.Inputs__Header__search input {
    width: 100%;
    outline: none;
    border: none;
    color: #656363;
    background-color: #F4F4F4;
    font-size: 14px;
    line-height: 10px;
    font-weight: 400;
}

.Buttons__Header {

    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: space-between;
    margin-right: 20px;

}

.Buttons__Header__login {
    width: 60px;
    display: flex;
    justify-content: space-between;


}

.Buttons__Header__login a {
    text-decoration: none;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    margin-left: 4px;
    color: red;
}

.Buttons__Header__cart {
    width: 80px;
    display: flex;
    justify-content: space-between;

}

.Buttons__Header__cart a {
    text-decoration: none;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    margin-left: 4px;
    color: red;
}


@media screen and (max-width: 480px) {
    .Inputs__Header__container {
        display: none;

    }

    .arrow-lef{
      visibility: visible;
    }

    .Header__Logo {

        margin: 0 auto;


    }

}